[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boxsdk = {version = "*", extras = ["jwt"]}
"pyqt5" = "*"
pyinstaller = "*"
"pypiwin32" = "*"
"pyqt5.sip" = "*"

[dev-packages]

[requires]
python_version = "3.6"
