[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boxsdk = {version = "*", extras = ["jwt"]}
termcolor = "*"
blessings = "*"
pyforms = {path = "./gui/pyforms_repo/pyforms"}
"pyqt5" = "*"

[dev-packages]

[requires]
python_version = "3.6"
